/* import font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@500&display=swap");

/* variables */
:root {
  --primary-font: "Ubuntu", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --primary-color: hsl(225, 73%, 57%);
  --secondary-color: hsl(0, 3%, 22%);
  --shadow-color: hsl(0, 0%, 0%);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
input,
select {
  all: unset;
}

/* tax form */

.tax-form {
  box-shadow: 0 0 0.5em var(--shadow-color);
  padding: 2em;
  min-width: 30%;
}

label {
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin-bottom: 0.2em;
  font-family: var(--primary-font);
  font-size: 1.15em;
}

.error,
.help {
  position: relative;
}

.error,
.error-message,
.description {
  display: none;
}

img {
  translate: 0 10%;
}

img:hover {
  cursor: pointer;
}

img:hover + p {
  display: block;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1em solid var(--secondary-color);
  border-radius: 0.2em;
  padding: 0.5em;
  margin-bottom: 1em;
}

input,
select {
  opacity: 0.6;
  flex-grow: 1;
  font-family: var(--secondary-font);
}

.description,
.error-message {
  position: absolute;
  translate: 0 0.5em;
  background-color: var(--secondary-color);
  color: white;
  width: 25ch;
  padding: 1em;
  font-size: 0.8em;
  font-family: var(--primary-font);
  border-radius: 0.5em;
  z-index: 99;
}

:is(.description, .error-message)::before {
  content: "";
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 1em solid var(--secondary-color);
  position: absolute;
  top: -0.9em;
  left: 0.5em;
  z-index: 99;
}

.btn-primary {
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  padding-block: 0.75em;
  font-family: var(--primary-font);
  color: white;
  border-radius: 0.2em;
  margin-top: 1em;
  transition: scale 0.4s ease-in-out;
}

.btn-primary:hover {
  scale: 0.9;
  cursor: pointer;
}

/* popup */

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 999;
}

.popup {
  border: 0.1em solid var(--shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1em;
  padding: 5em;
  font-family: "Open sans";
}

.popup h1 {
  font-family: "Ubuntu";
  font-size: 2em;
}

.popup b {
  font-size: 1.5em;
}
